<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <title>Place Your Order</title>
  </head>
  <body>
    <h1>Create Your Order</h1>
    <form action="" method="post" th:object="${order}">
      Size: 
        <select>
          <option value=""></option>
          <option th:each="pizzaSize : ${pizzaSizes}" value="${pizzaSize.description}" th:text="${pizzaSize.description}">Pizza size</option>
        </select>
     
      Crust Type:   <input type="text" >
      
    </form>
  </body>
</html>